.shows-page {
  width: 100%;
}

.show-top-container {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.show-search-bar-container {
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  border: 1px solid #121212CC;
  border-radius: 2px;
}

.show-search-bar {
  font-size: 1.1em !important;
  letter-spacing: 0.05em;
  width: auto;
  width: calc(100%);
  background-color: #12121288;
  border: none;
  color: white;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.show-search-bar:focus {
  outline: none;
}

.show-search-bar-icon {
  font-size: 2em !important;
  padding: 4px;
  background-color: #121212FF;
  color: #ffffff;
}

.show-name-container {
  margin-left: 12px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.return-button {
  padding: 8px 12px 8px 12px;
  background-color: #12121288;
  border-radius: 8px;
}

.table {
  margin: 0px;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  text-decoration: none;
}

.table td {
  padding: 0;
  margin: 0;
}

.season-episode {
  margin: 5px;
  padding: 8px 12px 8px 12px;
  color: #ffffff;
  background-color: #12121288;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 400;
  font-size: small;
  display: flex;
}

.active {
  border: 2px solid #0288d1;
}

.prev-next-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-color: #0288d1; */
}

.prev-next-nav-button {
  border-radius: 4px;
  margin: 8px;
  width: 100%;
  max-width: 50%;
  background: #12121288;
  padding: 8px 12px 8px 12px;
}

.last-watched {
  border: 2px solid #02d16abb;
}
