.top-nav {
  display: flex;
  width: 100%;
  /* background: #121212ff; */
}

.active {
  font-weight: 700;
}

.header-tab {
  text-transform: none !important;
  color: #ffffff !important;
  letter-spacing: 0.175em !important;
  font-weight: 600 !important;
}
