.message {
  color: #ffffff;
  font-size: small;
  margin: 8px;
}

.user-data {
  padding: 12px 16px;
  color: #ffffff;
}

.user-data .show-last-watched {
  padding: 4px 16px;
  font-size: small;
}

.user-id {
  display: flex;
  flex-direction: row;
}

.user-id button {
  margin: 0px;
  padding: 0px;
  border: none;
  margin-left: 8px;
  background: transparent;
}

.icon {
  color: #ffffff;
}
